
<style>
  h1 {
    color: black;
    font-family: verdana;
    font-size: 350%;
    text-align:center
  }

  a:link {
    color: maroon;
  }
  a:visited {
    color: maroon;
  }
  </style>

<h1><a href="/RPS/info">Welcome to Rock Paper Scissors Lizard Spock</a></h1>
