<!DOCTYPE html>
<html>
<head>
  <title>RPS Information</title>
</head>
<body>
<style>
h1 {
    color: black;
    font-family: verdana;
    font-size: 300%;
    text-align:center
}
p  {
    color: #black;
    font-family: courier;
    font-size: 200%;
    text-align:center
}
</style>
<h1>Rock Paper Scissors Lizard Spock</h1>
  <p> To play game, either type both arguments into address bar (eg. "/RPS/rock/scissors") </p>
  <p> To play against computer, only enter one argument (eg. "/RPS/rock")</p>
</body>
</html>