<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<style>
h1 {
    color: black;
    font-family: verdana;
    font-size: 600%;
    text-align:center
}
p  {
    color: #black;
    font-family: courier;
    font-size: 400%;
    text-align:center
}
</style>

<b><%= yield %></b>

</body>
</html>